body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    color: #1d1d1d;
}
title{
    text-align: center;
    color:cadetblue;
}
.news {
    margin: 20px;
    padding: 20px;
    border: 2px solid #8B4513;
    border-radius: 10px;
    background-color: #FFF5EE;
}
.news h2, .news p {
    color: #8B4513;
}